<h2>List of ratings</h2>

<table class="table table-hover">
  <% @ratings.each do |rating| %>
     <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</table>

<p> Number of ratings: <%= @ratings.count %> </p>

<p>
<%= link_to 'New Rating', new_rating_path %>
</p>
